In [1]:
from google.colab import files
files.upload() # kaggle.jsonをアップロード
!mkdir -p ~/.kaggle
!mv kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [2]:
import pandas as pd
import numpy as np

# データの準備
def prepare():
    !kaggle datasets download -d rajanand/rainfall-in-india
    !unzip rainfall-in-india.zip

# データの読み込み
def preprocess():
    # CSVファイルを読み込んでデータフレームに格納
    df = pd.read_csv('rainfall in india 1901-2015.csv')
    # データフレームから特定の列のみを抽出
    #（1月～12月のデータ）
    data = df.iloc[:,2:14]
    col = df.columns.values[2:14]
    df = pd.DataFrame(data, columns=col)
    print('Original Data:\t%d' % len(df))
    return df

# 欠損値の削除
def drop_missing_data(data): 
  # 欠損している要素数を列ごとに確認
    data.isnull().sum()
    data.info()
    # リストワイズ法で欠損値を含む行を削除する
    print('Missing Value Removed Data:\t%d' \
    % len(data.dropna()))
    # 欠損値を別のデータで埋める
    print('\n===== Fill by FILL =====')
    print( data.fillna('FILL')[20:30] )
    print('\n===== Fill by 100 =====')
    print(data.fillna(100)[20:30])

# 代表値による代入
def insert_typical_value(df, comp_type):
    print('\n===== Fill by {} ====='.format(comp_type))
    for f in df.columns.values: 
        if comp_type == 'mean':
            # 平均値で穴埋め
            df[f].fillna(df[f].mean(), inplace=True)
        elif comp_type == 'median':
            # 中央値で穴埋め
            df[f].fillna(df[f].median(), inplace=True) 
        elif comp_type == 'mode':
            # 最頻値で穴埋め
            df[f].fillna(df[f].mode()[0], inplace=True) 
    return df

def main():
    prepare()
    data = preprocess()
    # 欠損値の除去
    drop_missing_data(data) 
    for comp_type in ['mean', 'median', 'mode']:
        dt = preprocess()
        res = insert_typical_value(dt, comp_type)
        print(res[20:30])

if __name__ == '__main__':
    main()

Downloading rainfall-in-india.zip to /content
  0% 0.00/187k [00:00<?, ?B/s]
100% 187k/187k [00:00<00:00, 72.3MB/s]
Archive:  rainfall-in-india.zip
  inflating: district wise rainfall normal.csv
  inflating: rainfall in india 1901-2015.csv
Original Data:	4116
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   JAN     4112 non-null   float64
 1   FEB     4113 non-null   float64
 2   MAR     4110 non-null   float64
 3   APR     4112 non-null   float64
 4   MAY     4113 non-null   float64
 5   JUN     4111 non-null   float64
 6   JUL     4109 non-null   float64
 7   AUG     4112 non-null   float64
 8   SEP     4110 non-null   float64
 9   OCT     4109 non-null   float64
 10  NOV     4105 non-null   float64
 11  DEC     4106 non-null   float64
dtypes: float64(12)
memory usage: 386.0 KB
Missing Value Removed Data:	4090

===== Fill by FILL =====
      JAN    FEB    MAR    APR    MAY  ...    AUG    SEP    OCT    NOV    DEC
20  245.3   34.3   15.6  323.1  289.7  ...  307.4  511.7    162    541  192.2
21   79.5      0   FILL   91.3  293.5  ...  182.2  560.5  131.9  197.4   70.6
22   28.7      0   14.8   89.7  191.2  ...  290.9  251.2  331.1  378.6   FILL
23   36.6      0    8.6   50.4  282.2  ...  278.2  201.9  249.5  271.5    196
24  122.1      0      0    0.5  198.4  ...  523.7  719.3  443.8  148.4  560.7
25      3   17.5   17.8  108.6  504.1  ...  370.1  126.2  327.5  274.1   65.5
26   50.9   67.6   80.7  129.3  499.5  ...  391.5  404.8  444.5   99.5   13.5
27   74.2  118.4  129.2   69.8  316.6  ...  644.7  172.9    413  251.5   13.5
28   87.4  105.4  131.2   10.9  231.5  ...  446.7  677.2   82.3  249.4  201.6
29   25.3      0    2.5    2.5  205.4  ...    571  294.4  368.3   22.8  182.7

[10 rows x 12 columns]

===== Fill by 100 =====
      JAN    FEB    MAR    APR    MAY  ...    AUG    SEP    OCT    NOV    DEC
20  245.3   34.3   15.6  323.1  289.7  ...  307.4  511.7  162.0  541.0  192.2
21   79.5    0.0  100.0   91.3  293.5  ...  182.2  560.5  131.9  197.4   70.6
22   28.7    0.0   14.8   89.7  191.2  ...  290.9  251.2  331.1  378.6  100.0
23   36.6    0.0    8.6   50.4  282.2  ...  278.2  201.9  249.5  271.5  196.0
24  122.1    0.0    0.0    0.5  198.4  ...  523.7  719.3  443.8  148.4  560.7
25    3.0   17.5   17.8  108.6  504.1  ...  370.1  126.2  327.5  274.1   65.5
26   50.9   67.6   80.7  129.3  499.5  ...  391.5  404.8  444.5   99.5   13.5
27   74.2  118.4  129.2   69.8  316.6  ...  644.7  172.9  413.0  251.5   13.5
28   87.4  105.4  131.2   10.9  231.5  ...  446.7  677.2   82.3  249.4  201.6
29   25.3    0.0    2.5    2.5  205.4  ...  571.0  294.4  368.3   22.8  182.7

[10 rows x 12 columns]
Original Data:	4116

===== Fill by mean =====
      JAN    FEB         MAR    APR  ...    SEP    OCT    NOV        DEC
20  245.3   34.3   15.600000  323.1  ...  511.7  162.0  541.0  192.20000
21   79.5    0.0   27.359197   91.3  ...  560.5  131.9  197.4   70.60000
22   28.7    0.0   14.800000   89.7  ...  251.2  331.1  378.6   18.87058
23   36.6    0.0    8.600000   50.4  ...  201.9  249.5  271.5  196.00000
24  122.1    0.0    0.000000    0.5  ...  719.3  443.8  148.4  560.70000
25    3.0   17.5   17.800000  108.6  ...  126.2  327.5  274.1   65.50000
26   50.9   67.6   80.700000  129.3  ...  404.8  444.5   99.5   13.50000
27   74.2  118.4  129.200000   69.8  ...  172.9  413.0  251.5   13.50000
28   87.4  105.4  131.200000   10.9  ...  677.2   82.3  249.4  201.60000
29   25.3    0.0    2.500000    2.5  ...  294.4  368.3   22.8  182.70000

[10 rows x 12 columns]
Original Data:	4116

===== Fill by median =====
      JAN    FEB    MAR    APR    MAY  ...    AUG    SEP    OCT    NOV    DEC
20  245.3   34.3   15.6  323.1  289.7  ...  307.4  511.7  162.0  541.0  192.2
21   79.5    0.0    7.8   91.3  293.5  ...  182.2  560.5  131.9  197.4   70.6
22   28.7    0.0   14.8   89.7  191.2  ...  290.9  251.2  331.1  378.6    3.0
23   36.6    0.0    8.6   50.4  282.2  ...  278.2  201.9  249.5  271.5  196.0
24  122.1    0.0    0.0    0.5  198.4  ...  523.7  719.3  443.8  148.4  560.7
25    3.0   17.5   17.8  108.6  504.1  ...  370.1  126.2  327.5  274.1   65.5
26   50.9   67.6   80.7  129.3  499.5  ...  391.5  404.8  444.5   99.5   13.5
27   74.2  118.4  129.2   69.8  316.6  ...  644.7  172.9  413.0  251.5   13.5
28   87.4  105.4  131.2   10.9  231.5  ...  446.7  677.2   82.3  249.4  201.6
29   25.3    0.0    2.5    2.5  205.4  ...  571.0  294.4  368.3   22.8  182.7

[10 rows x 12 columns]
Original Data:	4116

===== Fill by mode =====
      JAN    FEB    MAR    APR    MAY  ...    AUG    SEP    OCT    NOV    DEC
20  245.3   34.3   15.6  323.1  289.7  ...  307.4  511.7  162.0  541.0  192.2
21   79.5    0.0    0.0   91.3  293.5  ...  182.2  560.5  131.9  197.4   70.6
22   28.7    0.0   14.8   89.7  191.2  ...  290.9  251.2  331.1  378.6    0.0
23   36.6    0.0    8.6   50.4  282.2  ...  278.2  201.9  249.5  271.5  196.0
24  122.1    0.0    0.0    0.5  198.4  ...  523.7  719.3  443.8  148.4  560.7
25    3.0   17.5   17.8  108.6  504.1  ...  370.1  126.2  327.5  274.1   65.5
26   50.9   67.6   80.7  129.3  499.5  ...  391.5  404.8  444.5   99.5   13.5
27   74.2  118.4  129.2   69.8  316.6  ...  644.7  172.9  413.0  251.5   13.5
28   87.4  105.4  131.2   10.9  231.5  ...  446.7  677.2   82.3  249.4  201.6
29   25.3    0.0    2.5    2.5  205.4  ...  571.0  294.4  368.3   22.8  182.7

[10 rows x 12 columns]